@import url(./sidebars.css);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');

body {
  /* background: url(./bg.png); */
}

b {
  color: #414141;
}

p  {
  line-height: 1.6rem;
}

hr {
  border: 1px #ababab dashed ;
}

.sublinha {
  margin-bottom: 15px;
}

.pagina-inicial-link {
    text-decoration: none;
    /* color: rgb(0 0 0 / 87%); */
    color: #FFF;
    font-weight: 500;
    font-size: 16px;
    background: #cb0909;
    padding: 5px 20px;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
}
.container-principal {
  max-width: 1100px;
}

.h1-titulo {
  margin-bottom: 30px;
}
.h5-titulo {
  color: #666;
}

/* subtitulo */
.subtitulo::before {
  content: "⋙";
  display: absolute;
  color: #c90000;
  line-height: 2.3rem;
}

/* blockquote */
blockquote {
  background-color: #fdf9cb;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #f9ed91;
    color: #c1a305;
    /* font-weight: 500; */
    font-size: 15px;
}

/* footer */
.footer-principal {
    background-color: #f1f1f1;
    padding: 20px 20px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #e5e5e5;
    font-size: 12px;
    color: #4e4e4e;
}

.link-menu-active {
  font-weight: bold;
  line-height: 1.6rem;
  background-color: #f1f1f1;
}
.link-menu-active::before {
  content: "⁃";
  color: #c90000;
  font-size: 30px;
  display: inline-block;
  margin-top: -3px;
  margin-right: 5px;
}